{% extends 'user-api/container.html' %}

{% block content %}


    {% from "security/_macros.html" import render_field_with_errors, render_field %}
    {% include "security/_messages.html" %}
    <h1>{{ _('Resend confirmation instructions') }}</h1>
    <form action="{{ url_for_security('send_confirmation') }}" method="POST" name="send_confirmation_form">
        {{ send_confirmation_form.hidden_tag() }}
        {{ render_field_with_errors(send_confirmation_form.email) }}
        {{ render_field(send_confirmation_form.submit) }}
    </form>

{% endblock %}
