body {
    min-width: 910px;
    background: #8eccc5 url("/static/img/Main_Menu_19_2_withoutUI.png") no-repeat fixed right top;
}

#container {
    width: 910px;
    right: -20px;
    top: 280px;
    align-content: center;
    text-align: center;
    position: absolute;
    background-clip: content-box;
    background-color: rgba(108, 237, 123, 0.3);
}

#star {
    position: absolute;
    background: url(https://mtedwards.s3.amazonaws.com/sparkle.png) no-repeat;
    background-size: contain;
    overflow: hidden;
    width: 50px;
    height: 34px;
    top: 248px;
    left: 482px;
}
