<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">


</head>
<body>
    <div id="container">
        {% block content %}
        {% endblock %}
    </div>
     <div id="star"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/scripts.js') }}" type="text/javascript"></script>
</body>
</html>
